{
  "openapi": "3.0.1",
  "info": {
    "title": "KHEPRA EXPERTS API",
    "description": "Cabinet de conseil stratégique, réglementaire et financier pour l'Afrique francophone. Accès aux services, diagnostics et ressources.",
    "version": "v1.0.0",
    "contact": {
      "name": "KHEPRA EXPERTS",
      "email": "contact@khepraexperts.com",
      "url": "https://khepraexperts.com/contact/"
    }
  },
  "servers": [
    {
      "url": "https://khepraexperts.com",
      "description": "Production KHEPRA EXPERTS"
    }
  ],
  "paths": {
    "/services": {
      "get": {
        "summary": "Liste des services premium",
        "description": "Retourne les 4 Business Units et 15+ services spécialisés de KHEPRA EXPERTS.",
        "operationId": "getServices",
        "responses": {
          "200": {
            "description": "Liste des services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "business_units": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "summary": "Diagnostics gratuits en ligne",
        "description": "12 outils de diagnostic stratégique et réglementaire — scoring automatisé, restitution Partner 30 min offerte.",
        "operationId": "getDiagnostics",
        "responses": {
          "200": {
            "description": "Liste des diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "diagnostics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "get": {
        "summary": "Coordonnées KHEPRA EXPERTS",
        "description": "Adresse, téléphone, email et réseaux sociaux du cabinet.",
        "operationId": "getContact",
        "responses": {
          "200": {
            "description": "Informations de contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "linkedIn": {
                      "type": "string"
                    },
                    "calendly": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
